.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #f3f4f6;
  padding: 40px 20px;
  color: #333
}

.App h1{
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #1f2937;
}
